<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org"
      xmlns:sec="https://www.thymleaf.org/thymleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Acebook Login Page</title>
    <link rel="stylesheet" href="/main.css" type="text/css"/>
    <link rel="stylesheet" href="/index.css" type="text/css"/>
</head>
<body>
    <div th:if="${param.error}">Invalid username and password.</div>
    <div th:if="${param.logout}">You have been logged out.</div>
    <form th:action="@{/login}" method="post">
        <div><h2>the 4 Aces Acebook Login</h2></div>
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password : <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>

</body>
</html>